.parent{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    font-size:55px;
    font-style: italic;
    font-weight: 800;
    text-align:center;
/*    자기가 가진 범위 안에서 중앙정렬*/
    text-decoration: underline;
}

.child{
    width: 50%;
    /*부모의 반(부모기준)*/
    height: 50%;
    background-color: darkgrey;
}
